.sus{
    background-color: rgb(105, 35, 35);
    justify-content: center;
    align-items: center;
    margin: auto;
}

.bmenu{
    display: flex;
    align-items: stretch;
}

.mb{
    flex: 1;
    background-color: transparent;
}