.container {
  background: #252741;
  min-height: 100vh;
}

.title {
  margin: 0;
  font-family: Georgia, serif;
  line-height: 1.15;
  font-size: 3rem;
  color: aliceblue;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
