.main {
    min-height: 100vh;
    padding: 2rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0;
    font-family: Georgia, serif;
    line-height: 1.15;
    font-size: 3rem;
    color: aliceblue;
    text-align: center;
}

.table {
    border: 1px;
    border-style: solid;
    border-radius: 16px;
    border-color: whitesmoke;
    background-color: #1e1f34;
    flex: 1;
    margin: 1%;
    color: aliceblue;
    text-align: center;
}

.list_container {
    min-height: fit-content;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.point {
    background-color: rgb(35, 63, 135);
    border-radius: 16px;
    margin: 2%;
    display: flex;

}

.ctitle {
    margin: 0px;
    flex: 1;
    cursor: move;
}

.edititle {
    margin: 0px;
    flex: 1;
    border-radius: 16px;
    background-color: transparent;
    border: 0px;
    font-size: 1.5em;
    font-weight: bolder;
    color: aliceblue;
    text-align: center;
}

.crm {
    background-color: transparent;
    border-radius: 16px;
}

.editb {
    background: transparent;
    padding: 0px;
}

.editb:hover {
    background: transparent;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}